<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.json.dao.Mims_userDao">	
	
	<select id="selByPage" resultType="mims_user" parameterType="map">
		select * from mims_user
		<where>	
			<if test="user_name != null and user_name != '' ">
				<bind name="user_name" value="'%'+user_name+'%'"/>
				user_name like #{user_name}
			</if>
		</where>
		limit #{pageStart},#{pageSize}
	</select>
	
	<select id="selCountByPage" resultType="long">
		select count(*) from mims_user
	</select>
	
	<select id="selByName" resultType="Mims_user">
		select * from mims_user where user_name=#{user_name}
	</select>
	
	<insert id="insUser" parameterType="Mims_user">
		insert into mims_user values(default, #{user_name}, #{password},
			#{e_mail}, #{phone}, #{sex}, #{height}, #{weight}, #{age}, 
			default, default, #{cancel_time})
	</insert>
	
	<update id="updUserStateByName" parameterType="java.util.Map">
		update mims_user set user_status=#{user_status} where user_name=#{user_name}
	</update>
	
	<update id="updUserByName" parameterType="Mims_user">
		update mims_user set e_mail=#{e_mail}, phone=#{phone}, sex=#{sex},
			height=#{height}, weight=#{weight}, age=#{age}
			where user_name=#{user_name}
	</update>
	
	<select id="selCountByTotalUser" resultType="java.lang.Integer">
		select count(*) from mims_user
	</select>
	
	<select id="selCountByNormalUser" resultType="java.lang.Integer">
		select count(*) from mims_user where user_status=0
	</select>
	
	<select id="selCountByCancelUser" resultType="java.lang.Integer">
		select count(*) from mims_user where user_status=1
	</select>
</mapper>