<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.json.dao.Mims_temperatureDao">

	<resultMap type="mims_temperature" id="tempBean">
		<id property="id" column="id"/>
		<result property="device_id" column="device_id"/>
		<result property="value" column="value"/>
		<result property="time" column="time"/>
		<association property="mims_device" javaType="mims_device">
			<id property="id" column="id"/>
			<result property="deviceCode" column="deviceCode"/>
			<result property="create_time" column="create_time"/>
			<result property="user_id" column="user_id"/>
			<association property="mims_user" javaType="mims_user">
				<id property="id" column="id"/>
				<result property="username" column="user_name"/>
				<result property="password" column="password"/>
				<result property="e_mail" column="e_mail"/>
				<result property="phone" column="phone"/>
				<result property="sex" column="sex"/>
				<result property="age" column="age"/>
				<result property="height" column="height"/>
				<result property="weight" column="weight"/>
				<result property="user_status" column="user_status"/>
				<result property="create_time" column="create_time"/>
				<result property="cancel_time" column="cancel_time"/>
			</association>
		</association>
	</resultMap>
	
	<select id="selByTime" parameterType="map" resultMap="tempBean">
		select t.* from mims_temperature t
		join mims_device d on d.id=t.device_id
		join mims_user u on u.id=d.user_id
		<where>
			<if test="user_name != null and user != ''">
				u.user_name=#{user_name}
			</if>
			<if test="startDate != null">
				<![CDATA[  and DATE_FORMAT(t.time, '%Y-%m-%d %HH:%T:%s') >= 
				DATE_FORMAT(#{startDate}, '%Y-%m-%d %HH:%T:%s')   ]]>
			</if>
			<if test="endDate != null">
				<![CDATA[  and DATE_FORMAT(t.time, '%Y-%m-%d %H:%T:%s') <= 
                DATE_FORMAT(#{endDate} , '%Y-%m-%d %HH:%T:%s')    ]]>
			</if>
		</where>
		order by time asc
	</select>
	
</mapper>