<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.json.dao.Mims_step_numberDao">

	<resultMap type="mims_step_number" id="stepBean">
		<id property="id" column="id"/>
		<result property="device_id" column="device_id"/>
		<result property="value" column="value"/>
		<result property="time" column="time"/>
		<association property="mims_device" javaType="mims_device">
			<id property="id" column="id"/>
			<result property="user_id" column="user_id"/>
			<association property="mims_user" javaType="mims_user">
				<id property="id" column="id"/>
				<result property="user_name" column="user_name"/>
				<result property="password" column="password"/>
				<result property="e_mail" column="e_mail"/>
				<result property="phone" column="phone"/>
				<result property="sex" column="sex"/>
				<result property="age" column="age"/>
				<result property="height" column="height"/>
				<result property="weight" column="weight"/>
				<result property="user_status" column="user_status"/>
				<result property="create_time" column="create_time"/>
				<result property="cancel_time" column="cancel_time"/>
			</association>
		</association>
	</resultMap>
	
	<!-- <select id="selByName" resultMap="stepBean">
		select s.* 
		from mims_user u 
		join mims_device d on u.id = d.user_id 
		join mims_step_number s on s.device_id = d.id where u.user_name=#{user_name}
		
	</select> -->
	
	<select id="selByTime" parameterType="map" resultMap="stepBean">
		select s.* 
		from mims_user u 
		join mims_device d on u.id = d.user_id 
		join mims_step_number s on s.device_id = d.id 
		<where>
			<if test="user_name != null and user != ''">
				u.user_name=#{user_name}
			</if>
			<if test="startDate != null">
				<![CDATA[  and DATE_FORMAT(time, '%Y-%m-%d') >= 
				DATE_FORMAT(#{startDate}, '%Y-%m-%d')   ]]>
			</if>
			<if test="endDate != null">
				<![CDATA[  and DATE_FORMAT(time, '%Y-%m-%d') <= 
                DATE_FORMAT(#{endDate} , '%Y-%m-%d')    ]]>
			</if>
		</where>
		order by time asc
	</select>

<!-- 	<select id="selByTime" parameterType="map" resultType="mims_step_number">
		select * from mims_step_number
		<where>
			<if test="startDate != null">
				<![CDATA[  and DATE_FORMAT(time, '%Y-%m-%d') >= 
				DATE_FORMAT(#{startDate}, '%Y-%m-%d')   ]]>
			</if>
			<if test="endDate != null">
				<![CDATA[  and DATE_FORMAT(time, '%Y-%m-%d') <= 
                DATE_FORMAT(#{endDate} , '%Y-%m-%d')    ]]>
			</if>
		</where>
		order by time asc
	</select> -->
	
</mapper>