<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.json.dao.Mims_adminDao">
	<select id="selByMims_admin" parameterType="mims_admin" resultType="mims_admin">
		select * from mims_admin where admin_name=#{admin_name} and password=#{password}
	</select>
</mapper>